.custom-hakkinda-nav {
  background-color: #6a98ed;
}

body {
  background-image: url(../projeresimleri/eregli.jpeg);
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Hafif büyütme */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Gölgeyle öne çıkarma */
  z-index: 2; /* Üstte kalsın */
}
