/* body {
  background-image: url(../projeresimleri/resim14.jpeg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

} */

.custom-iletisim {
  background-color: #6a98ed;
}
