body {
  background-image: url(../projeresimleri/saha.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.custom-nav-ilgi {
  background-color: #6a98ed;
}
